html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    border-right: 1px solid black;
    height: 100vh;
    width: 20%;
}

.content-container {
    background-color: azure;
}

.collapsible-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.collapsible-container.is-open {
    grid-template-rows: 1fr;
}

.collapsible-content {
    overflow: hidden;
    min-height: 0;
}