:root {
    --primary-color: #1a1a1a;
    --secondary-color: #121212;
    --text-primary: white;
    --text-secondary: #54565a;
    --accent: #17b9bd;
}

html {
    height: 100%;
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h4 {
    padding: 0;
    margin-top: 0;
}

.container {
    display: flex;
}

.sidebar {
    border-right: 1px solid var(--accent);
    height: 100vh;
    width: 20%;
    padding: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
}

.project-card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.project-card.active h2 {
    color: var(--accent);
}

.content-container {
    padding: 20px;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: start;
}

.task-card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.collapsible-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.collapsible-container.is-open {
    grid-template-rows: 1fr;
}

.collapsible-content {
    overflow: hidden;
    min-height: 0;
}

.task-card:has(.is-open) {
    box-shadow: inset 0 5px 0 0 var(--accent)
}